{% extends "home/home.html" %}
{% import "ui/home_page.html" as pg %}




{% block content %}
<main>
  
  <section id="home">

    <!-- Section title -->
    <h1 class="sr-only">Home section</h1>
    
    <div class="overlay"></div>

    <div class="home-content">
      
      <div class="container">
        
        <div class="row">

          <div class="col-md-8 col-md-offset-2">
            
            <span class="h5">爬虫 | 高德地图 API 强力驱动</span class="h5">

            <h2 class="h1">找房子心力交瘁,</h2>
            <h2 class="h1">试试地图搜房吧!</h2>

            <div class="cta-container">

              <button href="#history" class="btn btn-default">更多</button>

            </div>

          </div>
          
        </div>

      </div>

    </div>

  </section>

  <section id="history">

    <!-- Section title -->
    <h1 class="sr-only">History section</h1>

    <div class="container">

      <div class="row">
        
        <div class="col-md-8 col-md-offset-2">

          <div class="history-content">
            
            <h2 class="section-title">这是什么？</h2>

            <p>通过实时爬虫获取公开租房信息，直接在高德地图上直观展示租房信息，同时提供住址到公司的路线计算（公交+地图 or 步行导航），已实现58同城品牌公寓,未来将加入更多城市，更多房源</p>

          </div>

        </div>

      </div>
      
    </div>  

  </section>

  <section id="clients">

    <!-- Section title -->
    <h1 class="sr-only">特别鸣谢</h1>
    
    <div class="container">

      <div class="row">

        <div class="col-md-8 col-md-offset-2">

          <div class="clients-content">
    
            <h2 class="section-title">特别感谢</h2>

            <blockquote>
              <p>感谢以下网站提供灵感和资源</p>
            </blockquote>

          </div>

        </div>

      </div>

      <div class="clients-logs-container">

        <div class="row">
          
          <div class="col-sm-4">
            <div class="single-client-container">
              <img width="300px" height="120px" src="{{ url_for('static',filename='base/img/svg/clients/1.png') }}" alt="高德地图">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="single-client-container">
              <img width="300px" height="120px" src="{{ url_for('static',filename='base/img/svg/clients/2.png') }}" alt="实验楼">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="single-client-container">
              <img width="300px" height="120px" src="{{ url_for('static',filename='base/img/svg/clients/3.png') }}" alt="Flask">
            </div>
          </div>


        </div>

      </div>

    </div>

  </section>

  <section id="contact">

    <!-- Section title -->
    <h1 class="sr-only">Contact section</h1>
    
    <div class="container">
        
      <div class="row">
        
        <div class="col-md-6">
          
          <div id="about-subsection" class="contact-subsection">
            
            <h2 class="sub-section-title">About me</h2>

            <p>大四在校生一枚<br/>学号：04142049<br/>
            专业：网络工程<br/>班级：网络1402<br/>爱好：电影，游戏<br/>技能：前端，爬虫，python web 开发<br/><br/><br/>

            </p>

          </div>

        </div>

        <div class="col-md-6">
          
          <div id="form-subsection" class="contact-subsection">
            
            <h2 class="sub-section-title">Contact me</h2>

            <form>

              <div class="form-group">
                <label class="email-label" for="Email">Email</label>
                <input type="email" class="form-control" id="Email">
              </div>

              <div class="form-group">
                <label class="message-label" for="Message">Message</label>
                <textarea class="form-control" id="Message" rows="2"></textarea>
              </div>
              
              <button type="submit" class="btn btn-default pull-right">Send</button>

            </form>

          </div>

        </div>

      </div>

    </div>

  </section>

</main>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $("#index").addClass("active");
      });
</script>
{% endblock %}